/* 3T Company CSS */

body, html {
    height: 100%;
    margin: 0;
  }
  
  p{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 600;
  }
  
  a{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 600;
  }
  
  a:hover {
    opacity:0.7;
    color:#e33056ff;
    background-color: #f7e39cff;
  }

  .bgimg {
    background-image: url('/img/spotlight_img_2.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #e33056ff;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
  }


  .header_logo{
    width:80px;
    height:auto;
    padding-top:20px;
  }

  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
    height:3px;
    background-color: #e33056ff;
    border:none;
  }