/* 3T Company CSS */

body, html {
    height: 100%;
    margin: 0;
  }
  
  p{
    font-family: "Courier New", Courier, monospace;
    color: #000000;
    font-weight: 600;
  }
  

  .bgimg {
    background-image: url('/img/spotlight_img_2.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #cc0033ff;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }


  .header_logo{
    width:70px;
    height:auto;
    padding-top:20px;
  }


  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
    height:3px;
    background-color: #cc0033ff;
    border:none;
  }