/* W3.CSS 4.10 February 2018 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}

fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}

h1{
    color:#3a0847ff;
    font-size:36px;
    font-weight:bold;
    margin:10px 0;
}

h2{
    color:#333333;
    font-size:24px;
    font-weight:550;
    margin:10px 0
}

h3{
    color:#333333;
    font-size:20px;
    font-weight:400;
    margin:10px 0;
    text-transform:uppercase
}

h4{
    color:#333333;
    font-size:20px;
    font-weight:bold;
    margin:10px 0}

h5{
    color:#333333;
    font-size:18px;
    font-weight:400;
    margin:10px 0}

h6{
    color:#333333;
    font-size:16px;
    font-weight:400;
    margin:10px 0
}

p,ul,li{
    color:#333333;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1.5px;
    width: 20%;
    border-color:#cc0033;
    opacity:1
  }



.w3-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}

.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}

.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}



.w3-content{
    max-width:1090px;
    margin:auto;
}

.w3-rest{overflow:hidden}
.w3-hide{display:none!important}

.w3-show{
    display:block!important;
}

.w3-show-inline-block{display:inline-block!important}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}

.w3-tiny{font-size:10px!important}.w3-small{font-size:12px!important}.w3-medium{font-size:15px!important}.w3-large{font-size:16px!important}
.w3-xlarge{font-size:24px!important}.w3-xxlarge{font-size:36px!important}.w3-xxxlarge{font-size:48px!important}.w3-jumbo{font-size:64px!important}
.w3-left-align{text-align:left!important}.w3-right-align{text-align:right!important}.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}

.w3-margin{margin:16px!important}.w3-margin-top{margin-top:16px!important}.w3-margin-bottom{margin-bottom:16px!important}
.w3-margin-left{margin-left:16px!important}.w3-margin-right{margin-right:16px!important}
.w3-padding-small{padding:4px 8px!important}.w3-padding{padding:8px 16px!important}.w3-padding-large{padding:12px 24px!important}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}.w3-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.w3-padding-32{padding-top:32px!important;padding-bottom:32px!important}.w3-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.w3-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.w3-left{float:left!important}.w3-right{float:right!important}

.w3-transparent,.w3-hover-none:hover{background-color:transparent!important}
.w3-hover-none:hover{box-shadow:none!important}


/* MS CODE CHANGES FROM HERE */

i.arrow {
    border: solid #f7f7f7ff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.button1 {width: 150px;
    color:#f7f7f7ff!important;
    background-color:#cc0033ff!important; 
}


.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.w3-red,.w3-hover-red:hover{
    color:#fff!important;
    background-color:#3a0847ff!important
}

.w3-white,.w3-hover-white:hover{color:#f7f7f7ff!important;background-color:#3a0847ff!important}
.w3-black,.w3-hover-black:hover{color:#f7f7f7ff!important;background-color:#3a0847ff!important}

.ms-red-button,.ms-white-button:hover{color:#f7f7f7ff!important;background-color:#cc0033ff!important}
.ms-white-button,.ms-red-button:hover{color:#f7f7f7ff!important;background-color:#cc0033ff!important}

.link-hover:hover{
    color:#cc0033ff!important;
}

/* NAVBAR CODE */

#header {
    position:fixed;
    color:#333333;
    background-color:#3a0847ff;
    top:0;
    width: 100%; /* Full width */
    z-index:1;
    transition: 0.3s; /* Add a transition effect (when scrolling - and image is smaller) */
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    outline: 1px solid transparent;
}

.header_container{
    width:100%;
    overflow:hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.header_shrink .header_container{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    transition-duration: 0.3s;
    background-color:#fff;
    
}

.header_logo{
    display:block;
    float:left;
    width:200px;
    height:auto;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:25px;
    margin:auto;
    transition: 0.3s;
    outline: 1px solid transparent;
}

.header_logo-small{
    display:block;
    position:absolute;
    opacity:0;
    float:left;
    width:70px;
    height:auto;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    margin: auto;
    transition: 0.3s;
    outline: 1px solid transparent;
}

.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}

.w3-button{
    color:#fff;
    font-size:30px;
    padding-top:15px;
    padding-bottom:15px;
}

.header_shrink .w3-button{
    color:#333333;
}

.w3-button:hover{
    color:#fff!important;
    background-color:#333333!important;
    transition-duration:0.5s
}

.header_shrink .w3-button:hover{
    color:#fff!important;
    background-color:#333333!important;
    transition-duration:0.5s
}

.navButtonBorder{
    border-style:solid;
    border-color:#fff;
}

.header_shrink .navButtonBorder{
    border-style:solid;
    border-color:#333333;
}

.header_shrink .header_logo {
    opacity:0;
}

.header_shrink .header_logo-small {
    opacity:1;
    
}

.w3-navbutton{
    display:none;
}

.w3-navbutton a:hover {
    display:block;
    color:#333333!important;
    background-color:#f7f7f7ff!important;
}

.w3-dropdown:hover .w3-navbutton{
    display: block;
}

.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
.w3-bar .w3-button{white-space:normal}
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}



/* NAVBAR CODE */


.w3-opacity,.w3-hover-opacity:hover{opacity:0.60;transition-duration: 0.5s;}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}
.w3-opacity-max{opacity:0.25}.w3-opacity-min{opacity:0.75}

.s-swiper {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center center !important;
  }

.left{
    margin-left:30px;
    width:35%;
    float:right;
}

.center{
    text-align:left;
    padding-left:0px;
}


.text-left-66{
    float:left;
    width:66.66%;
}

.text-left-55{
    float:left;
    width:55%;
}

.text-left-60{
    float:left;
    width:60%;
}

.text-left-80{
    float:left;
    width:80%;
}

.text-right-60{
    float:right;
    width:60%;
}

.text-right-50{
    float:right;
    width:50%;
}

.shrink-2-mobile{
    width:60vh;
}

.shrink-2-mobile2{
    width:370px;
}

@media only screen and (max-width:1170px) {
    .left {
      margin-left:0px;
      float:left;
      width:100%;
    }
    .center{
        text-align:left;
        padding-left:0px;
    }
    .text-left-66{
        float:left;
        width:100%;
    }
    .text-left-60{
        float:left;
        width:100%;
    }
    .text-right-60{
        float:left;
        width:100%;
    }
    .text-left-55{
        float:left;
        width:100%;
    }
    .text-right-50{
        float:left;
        width:100%;
    }
    .text-left-80{
        float:left;
        width:100%;
    }
    .shrink-2-mobile{
        width:40vh;
    }
    .shrink-2-mobile2{
        width:40vh;
    }
    .shrink-2-mobile3{
        width:100%;
    }
}

/* Fade in effect */

.hideme
{
    opacity:0;
}

/*----------------------------------
  Video Settings
------------------------------------*/

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position:absolute;
    left: 0;
    top:0;
    width:auto;
    height:100%;
    overflow: hidden;
    z-index:-1;
}

.video-color{
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color:#3a0847ff !important;
    opacity:0.3;
    z-index:0 !important;
}


.responsive-video{
    display:inline!important;
    
}

@media only screen and (max-width:2000px) {
    .bg-wideimg{
    background: none!important;
    }
}

@media only screen and (min-width:2000px) {
    .responsive-video{display:none!important;}
    .video-color{display:none!important;}
}




/* Style the button used to pause/play the video */
#myBtn2 {
    width: 40px;
    font-size: 10px;
    padding: 0px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn2:hover {
    background: #ddd;
    color: #cc0033ff;
}



/*----------------------------------
  Selection
------------------------------------*/
::selection {
    color: #fff;
    background: #cc0033ff;
    text-shadow: none;
  }
  
/*----------------------------------
  Scroll to top button styling
------------------------------------*/


  #myBtn {
    opacity: 0; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 8px; /* Place the button at the bottom of the page */
    right: 25px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #cc0033ff; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding-left: 15px; /* Some padding */
    padding-right: 15px; /* Some padding */
    padding-top: 5px; /* Some padding */
    padding-bottom: 5px; /* Some padding */
    border-radius: 2px; /* Rounded corners */
    font-size: 14px; /* Increase font size */
    transition-duration:0.5s;
}

#myBtn:hover {
    background-color: #333333; /* Add a dark-grey background on hover */
}


#myBtn2 {
    position: absolute; /* Fixed/sticky position */
    bottom:10px;
    right:10px;
    float:right;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #000; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding-left: 2px; /* Some padding */
    padding-right: 2px; /* Some padding */
    padding-top: 2px; /* Some padding */
    padding-bottom: 2px; /* Some padding */
    border-radius: 1px; /* Rounded corners */
    font-size: 14px; /* Increase font size */
    opacity:0.5    /* transparency */
}

#myBtn2:hover {
    background-color: #000; /* Add a dark-grey background on hover */
}


/******************************/
/* CSS code for the blog page */
/******************************/

.grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-auto-rows: 200px;
  }
  
  /* Non-grid specific CSS */  

  .item {
    background-color: #f7f7f7;
  }
  
  .photothumb{
    width: 100%;
  }
  

  .title{
    padding-left:0em;
    padding-right:0em;
  }

  .title i{
      margin-left:1px;
      color:#cc0033ff;
      opacity:1
  }

  .content a{
    outline:none;
    text-decoration:none
  }

  .content a:hover{
    outline:none;
    text-decoration:none;
    opacity:0.5;
    transition:0.5s
  }
  
  .date{
    font-weight:bold;
    color:#cc0033ff;
    margin-bottom:4px
  }

  .hr_line{
    margin-left:0em;
    margin-bottom:5px;
    margin-bottom:5px
  }

.selector {
    margin-bottom:20px;
}

  .selector a{
    outline:none;
    text-decoration:none;
}

  .selector a:hover{
      outline:none;
      text-decoration:none;
      opacity:0.5;
      transition:0.5s
  }


.wrapper {
      display: flex;
      justify-content:space-between;
      height:auto;
  }


.sidebar {
    position: sticky;
    margin-top:20px;
    margin-right:150px;
    margin-left:20px;
    top: 120px;
    padding: auto;
    color:#f7f7f7ff;
    background-color: #f7f7f7ff;
    width:auto;
    height:400px;
    overflow:visible
}


@media only screen and (max-width:700px) {
    .sidebar {
        display:none;
    }

    }
